<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eachilin.zotes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_zotes"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zotes">
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <activity
            android:name=".activity.SetUpProfile"
            android:exported="true"
            android:label="@string/title_activity_set_up_profile"
            android:theme="@style/Theme.Zotes.NoActionBar" />
        <activity
            android:name=".signup"
            android:exported="true" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Checkout"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.PokemonDescription"
            android:exported="true" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|stateHidden" />
    </application>

</manifest>